{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "debug": true,
          "corejs": 3,
          "targets": "last 2 versions, not dead, > 20%"
        }
      ],
      [
          "@babel/preset-react"
      ]
    ],

    "plugins": ["@babel/plugin-transform-runtime"]
  }